#error{
   position: absolute;
   margin-left: 20px;
   color: red;
}

.col_map{
   margin-top: 10%;
}

.bootstrap.panel{
   margin-top: 13%;
   margin-bottom: -10%;
}

.form_name_egoi{
   float: right;
   width: 75%;
   padding-bottom: 30px;
}
.form_egoi_main{
   float: right;
   width: 75%;
}
.msg{
   padding: 10px;
}
.sett, .reg{
   padding: 22px;
}

.register{
   float:right;
   margin-top: -10px;
   width: 75%;
}

.form, .list, .hide_form, .enable, .styles{
   float:right;
   margin-top: -10px;
   padding-bottom: 20px;
   width: 75%;
}
.list-group-item{
   cursor:pointer;
}

.input_block{  
   width: 10% !important;
   display: inline-block !important;
}


.egoi.panel-heading{
   height: 40px !important;
}

.baseline{
   vertical-align: -webkit-baseline-middle;
   vertical-align: -moz-baseline-middle;
   vertical-align: -ms-baseline-middle;
   font-size: 1rem;
}

#account, #lists, #subs, #forms{
   vertical-align: -webkit-baseline-middle;
   vertical-align: -moz-baseline-middle;
   padding: 10px;
   font-size: 1.2rem !important;
}

#egoi-table tbody>tr>td{
   line-height: 26px !important;
}

.egoi-td{
   padding: 0px !important;
   line-height: 3 !important;
   border: none !important;
}

#egoi-subs-table tbody>tr>td{
   border: none !important;
}

.egoi-save{
   display: block; 
   width: 30px;
   height: 30px; 
   margin: 0 auto; 
   font-size: 28px; 
   background: transparent; 
   background-size: 26px;
   background-position: center;
}

.egoi-b{
   font-size: 14px;
   vertical-align: -webkit-baseline-middle;
   vertical-align: -moz-baseline-middle;
}

.egoi-help{
   font-style: italic;
}

#egoi-map-icon{
   font-size: 1em !important;
}

.egoi-map-header{
   background-color: #25b9d7;

}

.egoi-title{
   color: #fff !important;
}

.icon-external-link{
   font-size: 30px;
}

.sync_customers, .sync_api_key {
   border: 2px solid #f3f3f3;
   position: absolute;
   margin-left: 20px;
   display: inline-block;
   border-radius: 50%;
   border-top: 2px solid #3498db;
   width: 30px;
   height: 30px;
   -webkit-animation: spin 2s linear infinite; /* Safari */
   animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}