.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.88);
    -webkit-animation-duration: 0.35s;
    animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.modal__dialog {
    position: relative;
    max-width: 800px;
    padding: 50px;
    margin: auto;
    border-radius: 4px;
    background-color: #fff;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    border: none;
    color: #ccc;
    background: transparent;
}

.modal__close:focus {
    outline: 0;
}

.modal__header {
    border-bottom: 1px solid #e2e2e2;
}

.modal__title {
    margin: 0 0 15px;
}

.modal__content {
    padding: 10px 0;
    font-size: 13px;
    line-height: 1.6;
    color: #555;
}

.modal__footer {
    padding-top: 20px;
    border-top: 1px solid #e2e2e2;
}

.modal.is-modal-active {
    display: flex;
}

/* Animation */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}